:root.theme-light {
  --bg-image: var(--bg-image-light);

  --bg-color: var(--white-pink);
  --title-color: var(--pink);
  --accent-color: var(--dark-pink);
  --accent-color-decor: var(--gray);
  --accent-text: var(--gray);
  --subtitle-color: var(--gray);
  --main-text-color: var(--gray);
}

.theme-light .header__decor {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: var(--bg-image-light);

    --bg-color: var(--white-pink);
    --title-color: var(--pink);
    --accent-color: var(--dark-pink);
    --accent-color-decor: var(--gray);
    --accent-text: var(--gray);
    --subtitle-color: var(--gray);
    --main-text-color: var(--gray);
  }

  .header__decor {
    display: none;
  }
}