.page {
  font-family: 'IBM Plex mono', sans-serif;
  font-size: 18px;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/*============= header =============*/

.header {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  height: 100vh;
  padding-inline: 10px;
  padding-block: 10px;
  min-block-size: 668px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--accent-color-decor);
  border-block-start: 1px solid var(--accent-color-decor);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--accent-color-decor);
  border-block-end: 1px solid var(--accent-color-decor);
}

.header__decor {
  position: absolute;
  top: 10px;
  right: 17px;
  color: var(--accent-color-decor);
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
}

.header__decor::after {
  content: '';
  display: inline-block;
  margin: 0 2px 2px 10px;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px var(--accent-color-decor);
  background-color: var(--accent-color-decor);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu{
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: transparent;
  padding-inline: 12px;
  color: var(--accent-color-decor);
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--accent-color-decor);
  cursor: pointer;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color-decor);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color-decor);
}

.header__title {
  align-self: start;
  color: var(--title-color);
  font-weight: 700;
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__text {
  align-self: center;
  width: 100%;
  color: var(--accent-text);
  font-weight: bold;
  font-size: 18px;
  line-height: 130%;
  background-color: var(--accent-color);
  max-inline-size: clamp(364px, calc(364px + (100vw - 768px) * 0.496), 491px);
}

@media (width >= 724px) {
  
  .header {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    padding-inline: 20px;
    padding-block: 20px;
    min-block-size: 1024px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__decor {
    top: 20px;
    right: 27px;
  }

  .header__title {
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    justify-self: end;
  }

}

@media (width >= 1024px) {
  
  .header {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    padding-inline: 20px;
    padding-block: 20px;
    min-block-size: 768px;
  }
  
  .header__theme-menu{
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }
}

/*============= container =============*/

.container {
  display: grid;
  gap: 50px;
  margin-block: 40px;
}

.container__section {
  padding-inline: 10px;
}

.container__title {
  margin-block-end: 20px;
  color: var(--subtitle-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}

.container-list {
  display: grid;
  gap: 20px;
}

.card{
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
}

.card__title {
  color: var(--accent-text);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  background-color: var(--accent-color);
}

.card__link {
  position: relative;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.card__link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transform: scaleX(0);
}

.card__link:hover::after {
  transform: scaleX(1);
}

.card__link:focus {
  outline: none;
}

.card__link:focus-visible {
  outline: 1px solid currentColor;
}

.subtitle {
  margin-block-end: 20px;
}

.container__subtitle .container__list {
  display: grid;
  gap: 20px;
}

.card__title-regular {
  font-weight: 400;
}

@media (width >= 724px) {
  
  .container {
    gap: 80px;
    margin-block: 60px;
  }

  .container__section {
    padding-inline: 20px;
  }

  .intro_section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .concentration__title {
    max-width: 236px;
  }

  .recommendations__section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
}

@media (width >= 1024px) {
  
  .concentration__list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .concentration__title {
    max-width: 315px;
  }
}

/*============= gallery =============*/

.gallery {
  display: grid;
  gap: 10px;
}

.gallery__image {
  width: 100%;
  height: auto;
}

@media (width >= 724px) {
  .gallery {
    grid-template-columns: 3;
    grid-template-rows: 4;
    gap: 20px;
  }

  .gallery__title{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }

  .gallery__image {
    height: 100%;
    object-fit: cover;
  }

  .gallery__image--sunset {
    grid-column: span 2;
  }

  .gallery__image--ice-cream {
    grid-row: span 2;
  }

  .gallery__image--tape {
    grid-row: span 2;
  }

  .gallery__image--street {
    grid-column: span 2;
  }
}

/*============= footer =============*/

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-block: var(--section-padding-y-small);
  min-block-size: 668px;
}

.footer__title {
  color: var(--title-color);
  font-weight: 700;
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 724px) {
  .footer {
    min-block-size: 1024px;
  }
  
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .footer {
    min-block-size: 768px;
  }
}