:root {
  --bg-image-dark: url("../images/cover-image-dark.png");
  --bg-image-light: url("../images/cover-image-light.png");

  --dark-blue: #000028;
  --purple: #db00ff;
  --coral-red: #ff0070;
  --light-pink: #f1b2ce;

  --white-pink: #ffeef6;
  --pink: #ffc2e6;
  --dark-pink: #ff8dcb;
  --gray: #353430;
 
  /*Авто тема*/
  --bg-image: var(--bg-image-dark);
  --bg-color: var(--dark-blue);
  --title-color: var(--purple);
  --accent-color: var(--coral-red);
  --accent-color-decor: var(--coral-red);
  --accent-text: var(--dark-blue);
  --subtitle-color: var(--coral-red);
  --main-text-color: var(--light-pink);

  --font-title-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-title-desctop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}